# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.vue-treeselect.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\git\vue-treeselect\.idea\.idea.vue-treeselect.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
